.nav {
    grid-area: nav;
    background-color: rebeccapurple;
    padding: 20px;

}

.nav {
    color: #fff;
    text-decoration: none;
}

.item a  {
    color: white;
    outline: none;
    text-decoration: none;
}
.item a.active{
    color: greenyellow;
}