.app-wrapper {
    display: grid;

    grid-template-areas: "header header" "nav content ";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 1260px;
    padding: 0 20px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: blanchedalmond;
}

