.dialogsItems {
    padding: 10px;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    padding: 10px;
}

.dialogsItems a {
    color: black;
    outline: none;
    text-decoration: none;
}

.dialogsItems  .active {
    color: greenyellow;
}

.massages {
    padding: 10px;
}
